/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700 */

#title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}

#header {
  background-color: rgb(251, 112, 58);
}
#mainContent {
  background-color: rgb(69, 245, 187);
}

#footer {
  background-color: rgb(175, 106, 231);
}
